.calendar {
  z-index: 1000;
  position: absolute;
  margin-top: 2em;
  padding-top: 0.5em;
  background: #ffffff;
  color: #808080;
  padding-bottom: 2em;
  border-radius: 5px;
}

.calendar h4 {
  font-weight: lighter;
}

.calendar .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day-group {
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.day-group button {
  border-radius: 25px;
  color: inherit;
  padding-top: 3px;
  padding-bottom: 3px;
}

.day-group button.active {
  color: white;
  background: #808080;
  font-weight: bold;
  letter-spacing: 1px;
}
.day-group button:not(.active) {
  font-weight: lighter;
  letter-spacing: 1px;
}

.calendar .glyphicon {
  font-size: 1.5em;
  padding-top: 0.5em;
}

.rc-calendar {
  margin-top: 1em;
  border: none;
  box-shadow: none;
}

.rc-calendar-full-header {
  border: none;
}

.rc-calendar-full {
  width: 85vw;
}

@media (min-width: 768px) {
  .rc-calendar-full {
    width: 325px;
  }
}

@media (min-width: 768px) {
  .calendar {
    right: 0;
  }
}
